<!-- footer content -->
<footer>
    <div class="pull-right">
        University of Denver - Digital Repository 1.0.0 (Beta)
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->