<!-- footer content -->
<footer>
    <div class="pull-right">
        University of Denver - Digital Repository 0.2.0 (Alpha)
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->