<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="The University of Denver - University Libraries">
    <meta name="author" content="fernando.reyes@du.edu">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen and (min-width: 1025px)" href="assets/css/desktop-fines.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="assets/css/tablet-fines.css">
    <link rel="stylesheet" media="screen and (max-width: 540px)" href="assets/css/phone-fines.css">
    <link rel="stylesheet" media="screen and (max-width: 519px)" href="assets/css/small-phone-fines.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <title>University of Denver - University Libraries</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="dist/fines.js"></script>
</head>
<body>