<div class="profile clearfix">
    <div class="profile_pic">
        <img src="<%=host%>images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <h2 class="username"></h2>
    </div>
</div>