<nav class="navbar navbar-inverse navbar-fixed-top public-navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="http://du.edu">
                <img src="assets/img/du-logo.png" class="logo" width="100px" style="float: left;margin-right: 10px;margin-top: 10px;"/>
            </a>
            <span class="navbar-brand">University Libraries</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>