<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li>
                <a href="/dashboard/home"><i class="fa fa-home"></i> Home </a>
            </li>
            <li>
                <a href="/dashboard/collections"><i class="fa fa-archive"></i>Collections </a>
            </li>
            <li class="import-link">
                <a href="/dashboard/import"><i class="fa fa-upload"></i> Import Objects </a>
            </li>
            <li class="import-link">
                <a href="/dashboard/import/status"><i class="fa fa-cogs"></i> Import Status </a>
            </li>
            <!--
            <li class="import-link">
                <a href="/dashboard/import/incomplete"><i class="fa fa-exclamation-circle"></i> Incomplete Records </a>
            </li>
            -->
            <li>
                <a href="/dashboard/import/complete"><i class="fa fa-check-circle"></i> Complete Records </a>
            </li>
            <li>
                <a href="/dashboard/users"><i class="fa fa-user"></i> Users </a>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
