<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li>
                <a href="/repo/dashboard/home"><i class="fa fa-home"></i> Home </a>
            </li>
            <li>
                <a href="/repo/dashboard/objects"><i class="fa fa-archive"></i>Collections </a>
            </li>
            <li class="import-link">
                <a href="/repo/dashboard/ingest"><i class="fa fa-upload"></i> Ingest Packages </a>
            </li>
            <li class="import-link">
                <a href="/repo/dashboard/ingest/status"><i class="fa fa-cogs"></i> Ingest Status </a>
            </li>
            <!--
            <li>
                <a href="/dashboard/import/complete"><i class="fa fa-check-circle"></i> Recent Ingests </a>
            </li>
            -->
            <li>
                <a href="/repo/dashboard/objects/unpublished"><i class="fa fa-cloud-upload"></i> Unpublished Records </a>
            </li>
            <li>
                <a href="/repo/dashboard/users"><i class="fa fa-user"></i> Users </a>
            </li>
            <li>
                <a href="https://github.com/dulibrarytech/digitaldu-backend/issues" target="_blank"><i class="fa fa-info-circle"></i> <%=app_name%> <%=app_version%></a>
            </li>
        </ul>
    </div>
</div>
