<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li>
                <a href="/dashboard/home"><i class="fa fa-home"></i> Home </a><!-- <span class="fa fa-chevron-down"></span> -->
            </li>
            <li>
                <a href="/dashboard/root-collections"><i class="fa fa-archive"></i>Collections </a><!-- <span class="fa fa-chevron-down"></span> -->
            </li>
            <li>
                <a href="/dashboard/import"><i class="fa fa-upload"></i> Import Objects </a><!-- <span class="fa fa-chevron-down"></span> -->
            </li>
            <li>
                <a href="/dashboard/users"><i class="fa fa-user"></i> Users </a> <!-- <span class="fa fa-chevron-down"></span>-->
            </li>
            <li>
                <a href="/dashboard/groups"><i class="fa fa-users"></i>User Groups </a><!-- <span class="fa fa-chevron-down"></span> -->
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
