<form method="get" action="/dashboard/search">
    <div class="col-md-8 col-sm-5 col-xs-12 form-group top_search">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </span>
        </div>
    </div>
</form>