<%- include('partials/header.ejs'); %>
<body class="login">
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <div id="message"></div>
            <form id="login-form" action="/repo/login" method="get">
                <div>
                    <button id="login-button" class="btn btn-default submit" type="submit">Authenticate <i class="fa fa-sign-in"></i></button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <br/>
                    <div>
                        <h1><i class="fa fa-archive"></i> Digital DU</h1>
                        <p>©<span id="cdate"></span> University of Denver <br>University Libraries</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script src="/repo/static/libs/jquery/dist/jquery.min.js"></script>
<script src="/repo/static/libs/validator/jquery.validate.js"></script>
<script src="/repo/static/libs/dompurify/purify.min.js"></script>-
<script src="/repo/static/app/dom.module.js"></script>
<script src="/repo/static/app/config.module.js"></script>
<script src="/repo/static/app/api.module.js"></script>
<script src="/repo/static/app/helper.module.js"></script>
<script src="/repo/static/app/http.module.js"></script>
<script src="/repo/static/app/user.module.js"></script>
<script>
    // userModule.loginFormValidation();
    // userModule.reset();
    helperModule.getCurrentYear();
    // history.replaceState({}, '', '/repo/login');
    // history.pushState({}, '', '/repo/login');
</script>
</body>
</html>