<%- include('partials/header.ejs'); %>
<body class="login">
<div class="login_wrapper">
    <div class="form">
        <section>
            <form>
                <a href="/repo/login" class="btn btn-primary" type="button">Authenticate <i class="fa fa-sign-in"></i></a>
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <br/>
                    <div>
                        <h1><i class="fa fa-archive"></i> Digital DU</h1>
                        <p>University of Denver <br>University Libraries</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script>window.sessionStorage.clear();</script>
</body>
</html>