<% include partials/header.ejs %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/dashboard/home" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>
                <div class="clearfix"></div>
                <% include partials/menu-profile.ejs %>
                <br>
                <% include partials/nav.ejs %>
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>

                </div>
            </div>
        </div>
        <% include partials/top-nav.ejs %>
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3> Search Results </h3>
                    </div>

                    <div class="title_right">
                        <% include partials/search.ejs %>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div id="search-results-total"></div>
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <div class="row">
                                    <div id="searched-for"></div>
                                    <div id="total-records"></div>
                                    <div id="pagination"></div>
                                    <hr>
                                </div>
                                <div class="row" id="objects"><!-- objects are rendered here --></div>
                                <div class="row" id="search-results"><!-- search results are rendered here --></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
</div>
<script src="../../vendors/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../vendors/nprogress/nprogress.js"></script>
<script src="../../js/dompurify/purify.min.js"></script>
<script src="../../js/moment/moment.min.js"></script>
<script src="../../assets/js/theme_sidebar.js"></script>
<script src="../../app/config.module.js"></script>
<script src="../../app/http.module.js"></script>
<script src="../../app/dom.module.js"></script>
<script src="../../app/helper.module.js"></script>
<script src="../../app/metadata.module.js"></script>
<script src="../../app/user.module.js"></script>
<script src="../../app/collections.module.js"></script>
<script src="../../app/objects.module.js"></script>
<script src="../../app/search.module.js"></script>
<script>
    searchModule.search();
</script>
</body>
</html>