<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/dashboard/home" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>
                <div class="clearfix"></div>
                <% include partials/menu-profile.ejs %>
                <br>
                <% include partials/nav.ejs %>
                <% include partials/sidebar-footer.ejs %>
            </div>
        </div>
        <% include partials/top-nav.ejs %>
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3> Collections</h3>
                    </div>
                    <div class="title_right">
                        <% include partials/search.ejs %>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row"><div id="ping"></div></div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2></h2>
                                <ul class="nav navbar-right panel_toolbox"><!-- panel_toolbox -->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/dashboard/collections/add?is_member_of_collection=codu:root"><i class="fa fa-plus"></i>&nbsp;Add top-level collection</a></li>
                                            <li><a id="batch-update-collection-metadata" href="#" title="Updates all collection metadata records"><i class="fa fa-code"></i>&nbsp;Batch update all collection metadata</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <div class="row" id="objects"><!-- collections are rendered here --></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
</div>
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../vendors/nprogress/nprogress.js"></script>
<script src="../../js/dompurify/purify.min.js"></script>
<script src="../assets/js/theme_sidebar.js"></script>
<script src="../app/dom.module.js"></script>
<script src="../app/config.module.js"></script>
<script src="../app/user.module.js"></script>
<script src="../app/helper.module.js"></script>
<script src="../app/http.module.js"></script>
<script src="../app/metadata.module.js"></script>
<script src="../app/collections.module.js"></script>
<script src="../app/objects.module.js"></script>
<script src="../app/search.module.js"></script>
<script>collectionsModule.batchUpdateCollectionMetadataListener();</script>
<script>objectsModule.init();</script>
</body>
</html>