<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="../images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>User name here</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Menu</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-home"></i> Home </a><!-- <span class="fa fa-chevron-down"></span> -->
                            </li>
                            <li>
                                <a href="collections.html"><i class="fa fa-cubes"></i> Manage Collections </a><!-- <span class="fa fa-chevron-down"></span> -->
                            </li>
                            <li>
                                <a href="ingest.html"><i class="fa fa-upload"></i> Ingest </a><!-- <span class="fa fa-chevron-down"></span> -->
                            </li>
                            <li>
                                <a href="users.html"><i class="fa fa-users"></i> Users </a><!-- <span class="fa fa-chevron-down"></span> -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <!--
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    -->
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>

                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="../images/img.jpg" alt="">Fernando Reyes
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li class="divider"></li>
                                <!--
                                <li>
                                  <a href="javascript:;">
                                    <span class="badge bg-red pull-right">50%</span>
                                    <span>Settings</span>
                                  </a>
                                </li>
                                    -->
                                <!--<li><a href="javascript:;">Help</a></li>-->
                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <!--<h3></h3>-->
                    </div>

                    <div class="title_right">
                        <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
                        <div class="col-md-8 col-sm-5 col-xs-12 form-group top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 id="object-title"></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <!--
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    -->
                                    <li class="dropdown">
                                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                                        <!--
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                        -->
                                    </li>
                                    <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <!--
                                    <video width="320" height="240">
                                        <source type="video/mp4" src="myvideo.mp4" />
                                    </video>
                                    -->
                                    <!-- check mime type -->
                                    <div id="object-binary"></div>
                                    <br><br>
                                    <div class="product-image" id="object-detail"><!-- Object details here --></div>
                                </div>

                                <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                                    <h3 class="prod_title"><%= pid %></h3>

                                    <div class="">
                                        <h2><small>Edit Object</small></h2>
                                        <ul><!-- class="list-inline prod_color" -->
                                            <li>
                                                <button type="button" class="btn btn-default" style="width: 100px">MODS</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default" style="width: 100px">TECHMD</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default" style="width: 100px">TN</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default" style="width: 100px">OBJECT</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default" style="width: 100px">Permissions</button>
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="">
                                        <!--
                                        <h2><small>Child Objects</small></h2>
                                        <ul><!-- class="list-inline prod_color" --
                                            <li>
                                                <button type="button" class="btn btn-default">OH5Drummond.tape1.sideA</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default">OH5Drummond.tape1.sideB</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default">OH5Drummond.tape2.sideA</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default">OH5Drummond.tape2.sideB</button>
                                            </li>

                                        </ul>
                                    </div>-->


                                    <!--
                                    <div class="">
                                        <h2><small>Oral History Interview with Alex Drummond, undated. Child objects</small></h2>
                                        <ul class="list-inline prod_size">
                                            <li>
                                                <button type="button" class="btn btn-default">OH5Drummond.tape1.sideA</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default">Medium</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default btn-xs">Large</button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default btn-xs">Xtra-Large</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <br />
                                    -->
                                    <!--
                                    <div class="">
                                        <div class="product_price">
                                            <h1 class="price">Ksh80.00</h1>
                                            <span class="price-tax">Ex Tax: Ksh80.00</span>
                                            <br>
                                        </div>
                                    </div>
                                    -->
                                    <!--
                                    <div class="">
                                        <button type="button" class="btn btn-default btn-lg">Add to Cart</button>
                                        <button type="button" class="btn btn-default btn-lg">Add to Wishlist</button>
                                    </div>
                                    -->
                                    <!--
                                    <div class="product_social">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-envelope-square"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-rss-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <% include partials/footer.ejs %>
    <!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- DateJS -->
<script src="../vendors/DateJS/build/date.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Datatables -->
<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/mediaelement-mediaelement-cc69163/build/mediaelement-and-player.min.js"></script>
<script src="../build/js/custom.js"></script>
<script src="../app/objects/objects.module.js"></script>
<script>
    objectsModule.getObjectDetail();
</script>
<script>
    /*
    $('audio').mediaelementplayer({  // video,
        // Do not forget to put a final slash (/)
        pluginPath: 'https://cdnjs.com/libraries/mediaelement/',
        // this will allow the CDN to use Flash without restrictions
        // (by default, this is set as `sameDomain`)
        shimScriptAccess: 'always'
        // more configuration
    });
    */
</script>
</body>
</html>