<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>
                <div class="clearfix"></div>
                <% include partials/menu-profile.ejs %>
                <br>
                <% include partials/nav.ejs %>
                <% include partials/sidebar-footer.ejs %>
            </div>
        </div>
        <% include partials/top-nav.ejs %>
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <h3> Edit User</h3>
                    </div>
                    <div class="title_right"></div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 id="user-name"></h2>
                                <ul class="nav navbar-right"></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <p class="loading"><strong><em>Loading...</em></strong></p>
                                <div class="row" id="user-details">
                                    <form id="user-update-form">
                                        <input type="hidden" id="id" name="id">
                                        <div class="form-group">
                                            <label for="du_id">DU ID:</label>
                                            <input type="text" class="form-control" id="du_id" name="du_id" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email Address:</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="first_name">First Name:</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name">Last Name:</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name" required>
                                        </div>
                                        <br>
                                        <label for="is_active">Active:</label>
                                        <input type="checkbox" id="is_active" name="is_active">
                                        <br><br>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        &nbsp;&nbsp;
                                        <a href="/dashboard/users" type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp; Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <script src="../../js/dompurify/purify.min.js"></script>
    <script src="../../js/moment/moment.min.js"></script>
    <script src="../../assets/js/theme_sidebar.js"></script>
    <script src="../../app/dom.module.js"></script>
    <script src="../../app/config.module.js"></script>
    <script src="../../app/helper.module.js"></script>
    <script src="../../app/http.module.js"></script>
    <script src="../../app/user.module.js"></script>
    <script>
        userModule.userUpdateFormValidation();
        userModule.getUserDetails();
    </script>
</body>
</html>