<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <% include partials/menu-profile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include partials/nav.ejs %>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <% include partials/sidebar-footer.ejs %>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <% include partials/top-nav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <h3> Add Collection</h3>
                    </div>

                    <div class="title_right">
                        <% include partials/search.ejs %>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2></h2>
                                <ul class="nav navbar-right"></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <div class="row" id="collection-form-details">
                                    <div class="col-xs-12">

                                        <form name="collection-form" id="collection-form">

                                            <input name="is_member_of_collection" type="hidden" id="is-member-of-collection">
                                            <input name="object_type" type="hidden" id="object-type" value="collection">

                                            <div class="form-group">
                                                <label for="mods_title">* Title:</label>
                                                <input name="mods_title" type="text" class="form-control" id="mods_title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mods_abstract">Abstract:</label>
                                                <textarea name="mods_abstract" class="form-control" id="mods_abstract" rows="7"></textarea>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary" id="add-collection-button"><i class="fa fa-save"></i>&nbsp;Save</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <% include partials/footer.ejs %>
        <!-- /footer content -->
    </div>

    <!-- jQuery -->
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <script src="../../assets/js/custom.js"></script>
    <script src="../../app/libs/config.js"></script>
    <script src="../../app/libs/helper.js"></script>
    <script src="../../app/user.module.js"></script>
    <script src="../../app/collections.module.js"></script>
    <script src="../../app/objects.module.js"></script>
    <script>
        collectionsModule.collectionFormValidation();
        collectionsModule.getIsMemberOfCollection();
    </script>
</body>
</html>