<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <% include partials/menu-profile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include partials/nav.ejs %>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <% include partials/sidebar-footer.ejs %>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <% include partials/top-nav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <h3> Import Status</h3>
                    </div>

                    <div class="title_right">
                        <% include partials/search.ejs %>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2></h2>
                                <ul class="nav navbar-right"><!-- panel_toolbox --></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <h3>Archivematica Ingests</h3>
                                <div id="import-record-count"></div>
                                <table id="transfers" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Collection</th>
                                        <th>Object</th>
                                        <th>Microservice</th>
                                        <th>User</th>
                                        <th>Message</th>
                                        <th>Date/Time</th>
                                    </tr>
                                    </thead>
                                    <tbody id="transfer-status"></tbody>
                                </table>
                                <h3>DuraCloud Imports</h3>
                                <table id="imports" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>SIP UUID</th>
                                        <th>File</th>
                                        <th>Message</th>
                                        <th>Date/Time</th>
                                    </tr>
                                    </thead>
                                    <tbody id="import-status"></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <% include partials/footer.ejs %>
        <!-- /footer content -->
    </div>

    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <script src="../../vendors/moment/min/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="../../assets/js/custom.js"></script>
    <script src="../../app/libs/config.js"></script>
    <script src="../../app/libs/helper.js"></script>
    <script src="../../app/user.module.js"></script>
    <script src="../../app/collections.module.js"></script>
    <script src="../../app/import.module.js"></script>
    <script>
        importModule.getImportStatus();
    </script>
</body>
</html>