<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/dashboard/home" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <% include partials/menu-profile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include partials/nav.ejs %>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>

                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <% include partials/top-nav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <!--<h3> Media Gallery <small> gallery design</small> </h3>-->
                    </div>

                    <div class="title_right">
                        <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->

                        <% include partials/search.ejs %>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Collections</h2>
                                <ul class="nav navbar-right"><!-- panel_toolbox -->
                                    <li><a href="/dashboard/collections/add?is_member_of_collection=codu:root"><i class="fa fa-plus"></i>&nbsp;Add root collection</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row" id="collections"><!-- collections are rendered here --></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <% include partials/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- DateJS -->
<script src="../vendors/DateJS/build/date.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Datatables -->
<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<!-- app -->
<script src="../app/libs/helper.js"></script>
<script src="../app/libs/config.js"></script>
<script src="../app/users/user.module.js"></script>
<script src="../app/collections/collections.module.js"></script>
<script src="../app/search/search.module.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.js"></script>
<script>
    collectionsModule.init();
    collectionsModule.getRootCollections();
    // searchModule.search();
</script>
</body>
</html>