<% include partials/header.ejs  %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <% include partials/app-name.ejs %>
                </div>
                <div class="clearfix"></div>
                <% include partials/menu-profile.ejs %>
                <br>
                <% include partials/nav.ejs %>
                <% include partials/sidebar-footer.ejs %>
            </div>
        </div>
        <% include partials/top-nav.ejs %>
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Transcript</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 id="title"></h2>
                                <ul class="nav navbar-right" id="edit-transcript"></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <div class="row"><p id="record-transcript"></p></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form name="transcript-form" id="transcript-form" style="display: none">
                                            <div class="form-group">
                                                <label for="transcript">Transcript:</label>
                                                <textarea class="form-control" id="transcript" name="transcript" rows="15" required></textarea>
                                            </div>
                                            <br>
                                            <button id="transcript-form-save-button" type="button" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Save</button>
                                            <button id="transcript-form-cancel-button" type="button" class="btn btn-default"><i class="fa fa-close"></i>&nbsp; Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../libs/nprogress/nprogress.js"></script>
    <script src="../../libs/validator/jquery.validate.js"></script>
    <script src="../../libs/dompurify/purify.min.js"></script>
    <script src="../../assets/js/theme_sidebar.js"></script>
    <script src="../../app/dom.module.js"></script>
    <script src="../../app/config.module.js"></script>
    <script src="../../app/api.module.js"></script>
    <script src="../../app/helper.module.js"></script>
    <script src="../../app/http.module.js"></script>
    <script src="../../app/user.module.js"></script>
    <script src="../../app/objects.module.js"></script>
    <script>objectsModule.getTranscript();</script>
</body>
</html>