<% include partials/header.ejs %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>
                <div class="clearfix"></div>
                <% include partials/menu-profile.ejs %>
                <br>
                <% include partials/nav.ejs %>
                <% include partials/sidebar-footer.ejs %>
            </div>
        </div>
        <% include partials/top-nav.ejs %>
        <div class="right_col" role="main">
            <div>
                <div class="page-title">
                    <div class="title_left"></div>
                    <div class="title_right">
                        <% include partials/search.ejs %>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row"><div id="ping"><p><strong>Checking third-party services...</strong></p></div></div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Import Collection Objects</h2>
                                <ul class="nav navbar-right"><!-- panel_toolbox --></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- datatable-checkbox_ -->
                                <p class="loading"><strong><em>Getting import data...</em></strong></p>
                                <p><a href="/dashboard/import"><i class="fa fa-angle-double-left"></i>&nbsp; Back to main import page</a></p>
                                <table class="table table-striped table-bordered bulk_action">
                                    <thead>
                                    <tr>
                                        <th>Files</th>
                                        <th>File Size</th>
                                        <th>Mime Type</th>
                                    </tr>
                                    </thead>
                                    <tbody id="import-object-files"></tbody>
                                </table>
                                <p><a href="/dashboard/import"><i class="fa fa-angle-double-left"></i>&nbsp; Back to main import page</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <script src="../../js/dompurify/purify.min.js"></script>
    <script src="../../js/moment/moment.min.js"></script>
    <script src="../../js/moment/moment.timezone.js"></script>
    <script src="../../assets/js/theme_sidebar.js"></script>
    <script src="../../app/dom.module.js"></script>
    <script src="../../app/helper.module.js"></script>
    <script src="../../app/config.module.js"></script>
    <script src="../../app/collections.module.js"></script>
    <script src="../../app/user.module.js"></script>
    <script src="../../app/import.module.js"></script>
    <script>
        importModule.init();
        importModule.getImportObjectFiles();
    </script>
</body>
</html>