<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <% include partials/menu-profile.ejs %>
                <!-- /menu profile quick info -->
                <br>
                <!-- sidebar menu -->
                <% include partials/nav.ejs %>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <% include partials/sidebar-footer.ejs %>
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        <% include partials/top-nav.ejs %>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <h3> Thumbnail Upload <span id="object-type"></span></h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 id="collection-name"></h2>
                                <ul class="nav navbar-right">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <% if (error === true) { %>
                                    <div id="message" class="alert alert-danger"><%=message%></div>
                                <% } else if (error === false) { %>
                                    <div id="message" class="alert alert-success"><%=message%></div>
                                <% } else { %>
                                    <div id="message"></div>
                                <% }%>

                                <form id="collection-thumbnail-upload-form" action="/repo/tn/upload"
                                      enctype="multipart/form-data" method="POST">
                                    <p style="background-color:#4DA5DF;color:#FFF;width:320px;padding:3px;">*Upload .jpg files only and file must be under 500kb</p>
                                    <span id="sip-uuid-input"></span>
                                    <div class="form-group">
                                        <input id="file" type="file" name="tn" accept="image/jpeg" required onchange="helperModule.checkFileSize()"/>
                                    </div>
                                    <br>
                                    <button id="upload-button" class="btn btn-primary" type="submit"><i class="fa fa-upload"></i> Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <% include partials/footer.ejs %>
        <!-- /footer content -->
    </div>

    <script src="../../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="../../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../vendors/nprogress/nprogress.js"></script>
    <script src="../../../js/dompurify/purify.min.js"></script>
    <script src="../../../assets/js/theme_sidebar.js"></script>
    <script src="../../../app/dom.module.js"></script>
    <script src="../../../app/config.module.js"></script>
    <script src="../../../app/helper.module.js"></script>
    <script src="../../../app/http.module.js"></script>
    <script src="../../../app/user.module.js"></script>
    <script src="../../../app/collections.module.js"></script>
    <script>
        collectionsModule.setCollectionInformation();
        collectionsModule.collectionUploadSuccess();
    </script>
</body>
</html>