<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <% include partials/app-name.ejs %>
                </div>
                <div class="clearfix"></div>
                <br>
                <% include partials/sidebar-footer.ejs %>
            </div>
        </div>
        <div class="right_col" role="main">
            <div class="">
                <div class="row top_tiles">
                    <div id="message" class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;<strong>ERROR</strong></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
</div>
<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../libs/nprogress/nprogress.js"></script>
<script src="../assets/js/custom.js"></script>
<script src="../app/config.module.js"></script>
<script src="../app/user.module.js"></script>
<script>userModule.sessionExpired();</script>
</body>
</html>