<% include partials/header.ejs %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="#" class="site_title"><i class="fa fa-archive"></i> <span>DU Repository</span></a>
                </div>
                <div class="clearfix"></div>
                <br>
                <% include partials/sidebar-footer.ejs %>
            </div>
        </div>
        <div class="right_col" role="main">
            <div class="">
                <div class="row top_tiles">
                    <div id="message" class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;<strong>Your session has expired.  One moment please...</strong></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
</div>
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../vendors/nprogress/nprogress.js"></script>
<script src="../assets/js/custom.js"></script>
<script src="../app/config.module.js"></script>
<script src="../app/user.module.js"></script>
<script>userModule.sessionExpired();</script>
</body>
</html>