<% include partials/header %>

<div class="fines-template">

    <% include partials/nav %>

    <div class="container col-md-8 col-md-offset-2">

        <fieldset>
            <legend>Fines & Fees</legend>
        </fieldset>

        <div class="alert alert-danger">
            <strong><%=message%></strong>
        </div>

    </div>
</div>
<% include partials/footer %>