<% include partials/header.ejs %>

<body class="login">

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="/login" method="post">
                <h1>Login</h1>
                <div>
                    <input name="username" type="text" class="form-control" placeholder="DU ID" required=""/>
                </div>
                <div>
                    <input name="password" type="password" class="form-control" placeholder="Passcode" required=""/>
                </div>
                <div>
                    <input class="btn btn-default submit" type="submit" value="Log in">
                </div>

                <div class="clearfix"></div>

                <div class="separator">

                    <div class="clearfix"></div>
                    <br/>

                    <div>
                        <h1><i class="fa fa-archive"></i> DU Repository</h1>
                        <p>©<span id="cdate"></span> University of Denver <br>University Libraries</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="app/libs/config.js"></script>
<script src="app/libs/helper.js"></script>
<script src="app/user.module.js"></script>
<script>userModule.reset();</script>
<script>helperModule.getCurrentYear();</script>
</body>
</html>
