<% include partials/header.ejs %>

<body class="login">

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <div id="message"></div>
            <form id="login-form" action="/login/authenticate" method="post">
                <h1>Login</h1>
                <div>
                    <input id="username" name="username" type="text" class="form-control" placeholder="DU ID" required=""/>
                </div>
                <div>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Passcode" required=""/>
                </div>
                <div>
                    <input id="login-button" class="btn btn-default submit" type="submit" value="Login">
                </div>

                <div class="clearfix"></div>

                <div class="separator">

                    <div class="clearfix"></div>
                    <br/>

                    <div>
                        <h1><i class="fa fa-archive"></i> DU Repository</h1>
                        <p>©<span id="cdate"></span> University of Denver <br>University Libraries</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="../js/dompurify/purify.min.js"></script>-
<script src="app/dom.module.js"></script>
<script src="app/config.module.js"></script>
<script src="app/helper.module.js"></script>
<script src="app/http.module.js"></script>
<script src="app/user.module.js"></script>
<script>userModule.loginFormValidation()</script>
<script>userModule.reset();</script>
<script>helperModule.getCurrentYear();</script>
</body>
</html>
